* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #323232;
}
body {
  display: flex;
  flex-direction: column;
  height: 100dvh; /*config para centrar mandar el footer abajo*/
}
main {
  margin-bottom: auto !important;
}

header,
footer {
  background-color: #158cba;
}
.container,
.nav-bar,
footer {
  width: 87.5rem;
  margin: 0 auto;
}

.nav-bar01 {
  background-color: #158cba;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: fixed;
  z-index: 2;
  width: 1400px;
  margin-top: 0;
}

.nav-bar ul {
  display: flex;
  margin: 1rem;
}

.nav-bar ul li {
  margin: 0 5rem;
  list-style: none;
}

.nav-bar ul li a {
  color: #f0f0f0;
  text-decoration: none;
  position: relative;
  padding: 10px;
}
.nav-bar ul li a:hover {
  color: #323232;
  text-decoration: underline;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f0f0f0;
  font-weight: bolder;
}
.container {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.logo {
  text-align: center;
  margin: 20px 0;
  border-radius: 35px;
  filter: drop-shadow(10px 10px 10px #303232);
}
.logo img {
  width: 800px;
  height: 100px;
}
/*index*/
h1 {
  text-align: center;
  color: #323232;
  font-size: 40px;
  margin: 2rem 0;
}
.content {
  filter: drop-shadow(10px 10px 10px #303232);
}
.primary-text {
  color: #323232;
  text-align: justify;
}
.main-Conteiner {
  display: grid;
  grid-template-areas:
    "img1 img2 img3 img4"
    "secondary-title1 secondary-title2 secondary-title3 secondary-title4"
    "text-left text-right text-left1 text-right1";
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  margin: 1rem;
}

.img1 img {
  grid-area: img1;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.img2 img {
  grid-area: img2;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.img3 img {
  grid-area: img3;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.img4 img {
  grid-area: img4;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
/*.secondary-text {
  display: grid;
  grid-template-areas:
    "secondary-title1 secondary-title2 secondary-title3 secondary-title4"
    "text-left text-right text-left1 text-right1";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0rem;
}*/
.text-left {
  grid-area: text-left;
  text-align: justify;
}
.text-right {
  grid-area: text-right;
  text-align: justify;
}
.secondary-title1 {
  grid-area: secondary-title1;
  text-align: center;
  font-size: 26px;
  align-content: center;
}

.secondary-title2 {
  grid-area: secondary-title2;
  text-align: center;
  font-size: 26px;
  align-content: center;
}
.secondary-title3 {
  grid-area: secondary-title3;
  text-align: center;
  font-size: 26px;
  align-content: center;
}
.text-left1 {
  grid-area: text-left1;
  text-align: justify;
}
.secondary-title4 {
  grid-area: secondary-title4;
  text-align: center;
  font-size: 26px;
  align-content: center;
}
.text-right1 {
  grid-area: text-right1;
  text-align: justify;
}
.whatsapp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 4;
}
.logo-whatsapp {
  width: 5rem;
}
.logo-whatsapp:hover {
  width: 6rem;
}
.footer {
  text-align: center;
  height: 30px;
  margin: 1rem 0;
  color: #f0f0f0;
}
.footer p a {
  text-decoration: none;
  color: #f0f0f0;
}
/* servicios */
.servicios-titulo {
  text-decoration: underline;
  text-align: center;
  margin: 1.5rem 0;
}
.servicios-subtitulo1,
.servicios-subtitulo2 {
  text-align: center;
  margin: 1.5rem 0;
}

.f-optica {
  text-align: justify;
  margin-bottom: 1rem;
}
.service1 {
  display: grid;
  grid-template-areas: "container-table img-ftth";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.container-table {
  grid-area: container-table;
}
.fibra-optica {
  text-align: center;
}
.img-ftth {
  grid-area: img-ftth;
  width: 70%;
  border-radius: 15px;
}
.wireless {
  text-align: justify;
  margin-bottom: 1rem;
}
.service2 {
  display: grid;
  grid-template-areas: " wireles-img container-table1";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}
.wireless-img {
  grid-area: wireles-img;
  width: 70%;
  border-radius: 15px;
}
.wireless-conteiner {
  text-align: center;
  justify-content: center;
}
.container-table1 {
  grid-area: container-table1;
}

/*panel de control*/
.container-panel-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img-panel-control form";
  grid-template-rows: 1fr;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.logo .logo-empresa {
  display: none;
}
.logo-panel-control {
  width: 70%;
  margin-top: 10rem;
}
.img-panel-control {
  grid-area: img-panel-control;
}
form h4 {
  margin: 1rem 0;
}
.form {
  margin-top: 10rem;
  grid-area: form;
  text-align: center;
  align-items: center;
  width: 70%;
}
.button-ingresar,
.form-label {
  margin: 30px;
}
input[type="text"] {
  text-align: center;
}
input[type="password"] {
  text-align: center;
}

/*contacto*/
.contacto-primary {
  display: grid;
  grid-template-areas:
    "contacto-ubicacion contacto-form"
    "contacto-siguenos contacto-form";
  gap: 10px;
  text-align: center;
  align-items: center;
}
.contacto-ubicacion {
  grid-area: contacto-ubicacion;
  grid-template-columns: 1/2;
}
.contacto-form {
  grid-area: contacto-form;
  grid-row: 1/4;
}
.contacto-siguenos {
  grid-area: contacto-siguenos;
}
.contacto-p {
  margin: 1rem;
}
.contact-map {
  width: 10rem;
  margin: 1rem;
  border-radius: 1rem;
}
.logo-facebook,
.logo-ig,
.logo-x {
  margin-top: 2rem;
  width: 3rem;
}
.logo-whatsapp-contacto {
  display: none;
}
/*medias query*/
@media (max-width: 1024px) {
  .container,
  .nav-bar,
  .nav-bar01,
  footer {
    width: 100%;
  }

  .logo img {
    width: 90%;
    height: auto;
  }

  .main-Conteiner {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img1 img2"
      "secondary-title1 secondary-title2"
      "text-left text-right"
      "img3 img4"
      "secondary-title3 secondary-title4"
      "text-left1 text-right1";
  }
  .content {
    text-align: center;
  }

  .nav-bar ul li {
    margin: 1rem;
  }
  .whatsapp {
    right: 0rem;
    bottom: 2rem;
    z-index: 4;
  }
  .logo-whatsapp {
    width: 3rem;
  }
  /*servicios*/
  .service1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img-ftth"
      "container-table";
  }
  .service2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "wireless-conteiner"
      "container-table1";
  }

  .img-ftth,
  .wireless-img {
    width: 50%;
  }
  /*Panel de control
  .logo-panel-control {
    display: none;
  }
  .container-panel-control {
    grid-template-columns: 1fr;
    grid-template-areas: "control form";
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
  }
  .form {
    margin: 0;
  }*/

  /* contacto */

  .contacto-primary {
    grid-template-areas:
      "contacto-form contacto-siguenos "
      "contact-map";
    text-align: center;
    align-items: center;
  }

  .contacto-form {
    grid-area: contacto-form;
  }
  .contacto-siguenos {
    grid-area: contacto-siguenos;
  }
  .contacto-p {
    margin: 1rem;
  }
  .contact-map {
    display: none;
  }

  .logo-facebook,
  .logo-ig,
  .logo-x {
    margin-top: 2rem;
    width: 3rem;
  }
  .whatsapp {
    right: 0.5rem;
    bottom: 3.75rem;
    z-index: 4;
  }
  .whatsapp .logo-whatsapp {
    width: 3rem;
  }
}
@media (max-width: 768px) {
  .container,
  .nav-bar,
  .nav-bar01,
  footer {
    width: 100%;
  }
  footer {
    font-size: 12px;
  }
  .nav-bar01 {
    flex-direction: column;
    height: 7.5rem;
  }

  .nav-bar ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar ul li {
    margin: 2px;
    padding: 1px;
  }
  .logo img {
    margin-top: 4rem;
  }

  .main-Conteiner {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "secondary-title1"
      "text-left"
      "img2"
      "secondary-title2"
      "text-right"
      "img3"
      "secondary-title3"
      "text-left1"
      "img4"
      "secondary-title4"
      "text-right1";
  }

  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .service1,
  .service2,
  .container-panel-control,
  .contacto-primary {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img-panel-control"
      "form";
  }

  .form,
  .logo-panel-control {
    width: 90%;
    margin: auto;
  }

  .logo-whatsapp {
    width: 4rem;
  }
  /*servicios*/
  .service1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img-ftth"
      "container-table";
  }
  .service2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "wireless-conteiner"
      "container-table1";
  }

  .img-ftth,
  .wireless-img {
    width: 50%;
  }
  /*panel de control*/
  .img-panel-control .logo-panel-control {
    width: 50%;
    margin-top: 5rem;
  }
  .contacto-primary {
    grid-template-areas:
      "contacto-siguenos "
      "contact-map"
      "contacto-form";
    text-align: center;
    align-items: center;
  }

  .contacto-form {
    grid-area: contacto-form;
  }
  .contacto-siguenos {
    grid-area: contacto-siguenos;
  }
  .contacto-p {
    margin: 1rem;
  }
  .contact-map {
    display: none;
  }
  .logo-facebook,
  .logo-ig,
  .logo-x {
    margin-top: 2rem;
    width: 3rem;
  }
  .whatsapp {
    right: 0.5rem;
    bottom: 3.75rem;
    z-index: 4;
  }
  .whatsapp .logo-whatsapp {
    width: 3rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  .primary-text {
    margin: 0 0.5rem;
  }

  .nav-bar ul li a {
    font-size: 14px;
    padding: 8px;
  }

  .text-footer {
    font-size: 10px;
    text-align: center;
  }

  .contact-map,
  .logo-facebook,
  .logo-ig,
  .logo-x {
    width: 100%;
  }

  /*.whatsapp {
    right: 1rem;
    bottom: 1rem;
  }*/

  .logo-whatsapp {
    display: none;
  }
  /* servicios 480p */
  /* con la query anterior queda responsive*/

  /*panel de control*/
  .img-panel-control .logo-panel-control {
    width: 50%;
    margin-top: 5rem;
  }
  /*contacto*/
  .logo-whatsapp-contacto {
    display: inline;
  }
  .logo-whatsapp-contacto,
  .logo-facebook,
  .logo-ig,
  .logo-x {
    margin-top: 0rem;
    width: 3rem;
  }
  .contacto-primary {
    grid-template-areas:
      "contacto-form"
      "contacto-siguenos ";
    text-align: center;
    align-items: center;
  }
}
